.list {
  $self: &;
  margin-bottom: 30px;

  &__items {
    &:hover {
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;

    &:hover #{$self}__remove-icon {
      opacity: 0.2;
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    .badge {
      position: relative;
      left: 3px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;

      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
  }
}
